<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de Inicio</title>
</head>
<body>
    <div style="text-align: center">
        <h1>Esta es la pagina de inicio.</h1>
        <a href="/admin">Si eres el administrador puedes acceder</a><br>
        <a href="/saludo">Este es un saludo inicial.</a><br>
        <a href="/segunda_vista">Esta es la segunda vista de la pagina.</a><br>
        <a href="/nombre/Gabriel/Galiano">Aca deberá ingresar su nombre y apellido.</a><br>
        <a href="/miTemplate">Aca veremos mi template 1.</a><br>
        <a href="/miTemplateRender">Aca tengo mi primer template Render.</a><br>
        <a href="/miTemplate2">Este es mi template nro. 2.</a><br>
        <a href="/miTemplate3">Este es mi template nro. 3.</a><br>
    </div>
    
</body>
</html>